@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
    --cor-primaria: #2686CC;
    --cor-secundaria: #C4C4C4;
    --shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imgProjeto {
    height: 130px;
    width: 130px;
    /* background-color: gray; */
    margin-bottom: 16px;
}

.formArea {
    background-color: #E5E5E5;
    padding: 2.5rem 0.5rem 2.5rem 0.5rem;
    margin: 2.5rem;
}

.titulo {
    font-size: 1.5rem;
    font-family: 'Roboto';
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.titulo h6 {
    font-family: 'Roboto';
    font-size: 1.5rem;
    align-self: center;
}

.linha {
    height: 1px;
    width: 25%;
    background-color: black;
    /* z-index: -1; */
}


.label {
    align-self: start;
    margin-left: 1rem;
    padding-top: 1rem;
    font-size: 0.75rem;
    font-family: 'Roboto-Mono';
    font-weight: thin;
    margin-bottom: 0.25rem;
}

.label strong {
    color: red;
}

.input {
    font-family: 'Roboto-Mono';
    width: 278px;
    border-radius: 12px;
    border: solid 1px black;
    font-size: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.btnProxU {
    border-radius: 12px;
    align-self: end;
    font-size: 1rem;
    font-family: 'Roboto';
    font-weight: bold;
    cursor: pointer;
    color: white;
    background-color: var(--cor-primaria);
    margin-top: 2rem;
    padding: 8px 12px 8px 12px;
    box-shadow: var(--shadow);
    width: 120px;
    background-color: #5995fd;
    border: none;
    outline: none;
    height: 49px;

}

.btnProxUX {
    border-radius: 12px;
    align-self: end;
    font-size: 1rem;
    cursor: pointer;
    font-family: 'Roboto';
    font-weight: bold;
    color: white;
    background-color: var(--cor-primaria);
    margin-top: 2rem;
    padding: 8px 12px 8px 12px;
    box-shadow: var(--shadow);
    width: 120px;
    background-color: red;
    border: none;
    outline: none;
    height: 49px;

}

.botoes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    border-radius: 12px;
}

.btnProx {
    /* align-self: end; */
    font-size: 1rem;
    font-family: 'Roboto';
    font-weight: bold;
    color: white;
    cursor: pointer;
    background-color: var(--cor-primaria);
    /* margin-top: 2rem; */
    padding: 8px 12px 8px 12px;
    box-shadow: var(--shadow);
    border-radius: 12px;
}

.btnVoltar {
    /* align-self: start; */
    font-size: 1rem;
    font-family: 'Roboto';
    color: black;
    background-color: var(--cor-secundaria);
    /* margin-top: 2rem; */
    padding: 8px 12px 8px 12px;
    box-shadow: var(--shadow)
}

.form_dividido {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.protocolo {
    display: flex;
    flex-direction: column;
}

.porta {
    display: flex;
    flex-direction: column;
}