/* .modal{
    background-color: white;
    display: none;
    position: fixed;
    width: 200px;
    height: 200px;
    left: 200px;
    top: 40px;
    color: black;
} */

.Stage_form_RG {
    background: #0188DF;
    height: 560px;
    width: 95%;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    box-shadow: 0px 4px 4px rgba(0.25, 0.25, 0.25, 0.25);
}

.Stage_form_VNET {
    background: #0188DF;
    height: 104vh;
    width: 95%;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    margin-top: 9%;
    box-shadow: 0px 4px 4px rgba(0.25, 0.25, 0.25, 0.25);
}

.Stage_form_SG {
    background: #0188DF;
    height: 115vh;
    width: 95%;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    margin-top: 24%;
    box-shadow: 0px 4px 4px rgba(0.25, 0.25, 0.25, 0.25);
}

.Stage_form_VM {
    background: #0188DF;
    height: 99vh;
    width: 95%;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    margin-top:14%;
    box-shadow: 0px 4px 4px rgba(0.25, 0.25, 0.25, 0.25);
}

.Stage_form_VML {
    background: #0188DF;
    height: 125vh;
    width: 95%;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    margin-top: 24%;
    box-shadow: 0px 4px 4px rgba(0.25, 0.25, 0.25, 0.25);
}

.right_stage {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

.left_stage {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left_stage img {
    width: 52vw;
    height: 52vh;

}

.input_field {
    border-radius: 92px;
    width: 100%;
}

@media (max-width: 870px) {
    .Stage_form_VM {
        background: #0188DF;
        height: 167vh;
        width: 180%;
        border-radius: 1px;
        display: flex;
        justify-content: center;
        margin-top: 24%;
        box-shadow: 0px 4px 4px rgba(0.25, 0.25, 0.25, 0.25);
    }

    .Stage_form_RG {
        background: #0188DF;
        height: 560px;
        width: 180%;
        border-radius: 1px;
        display: flex;
        justify-content: center;
        margin-top: 12px;
        box-shadow: 0px 4px 4px rgba(0.25, 0.25, 0.25, 0.25);
    }

    .Stage_form_VNET {
        background: #0188DF;
        height: 164vh;
        width: 180%;
        border-radius: 1px;
        display: flex;
        justify-content: center;
        margin-top: 24%;
        box-shadow: 0px 4px 4px rgba(0.25, 0.25, 0.25, 0.25);
    }

    .Stage_form_SG {
        background: #0188DF;
        height: 140vh;
        width: 180%;
        border-radius: 1px;
        display: flex;
        justify-content: center;
        margin-top: 24%;
        box-shadow: 0px 4px 4px rgba(0.25, 0.25, 0.25, 0.25);
    }

    .imgProjeto img {
        width: 80px;
        height: 80px;
    }

    .imgProjeto {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .left_stage img {
        width: 86%;
        height: 52vh;
    }


}